{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2>Create Test</h2>

    <form method="POST" class="card p-4">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Test Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Duration (Minutes)</label>
            <input type="number" name="duration" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Pass Percentage (%)</label>
            <input type="number" name="pass_percentage" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Create Test</button>
    </form>
</div>

{% endblock %}
